<ion-header>
  <ion-toolbar>
    <ion-title>Create User</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #userForm="ngForm" (ngSubmit)="submitUser()" >
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input type="text" [(ngModel)]="user.first_name" name="fname" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input type="text" [(ngModel)]="user.last_name" name="lname"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Designation</ion-label>
          <ion-input type="text" [(ngModel)]="user.designation" name="designation"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Age</ion-label>
          <ion-input type="number" [(ngModel)]="user.age" name="age"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="user.email" name="email" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
          <ion-button expand="block" type="submit" [disabled]="userForm.invalid">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
